

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.page #carousel{
  width: 60%;
  align-self: center;
  height: 400px;
  border: 1px solid black
}
.picture{
  border: 1px solid black;
  height: 100px;
  width: 100px;
}
