

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;

}

.page #carousel{
  width: 70%;
  align-self: center;
  height: 50px;
  border: 1px solid black
}
