
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="stylesheet" href="../static/stylesheets/home.css">
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Mixer</title>
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/home.css') }}"> -->
    <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/header.css') }}"> -->

  </head>
  <body>

    <div class="header">
        <button type="button" id="openSideBar">
          <i class="fa fa-bars"></i>
        </button>

      <div id='title'>Mixer</div>

      <button type="button" id="login">login</button>
    </div>

    <div class="page">
      <div id="sidebar">
        <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
          <button type="button" name="profile"><a href="/profile">Profile</a></button>
          <button type="button" na  me="library"><a href="#">Library</a></button>
      </div>

      <div class="stuff">
        <div>

          <form class="form" action="/home" method="POST">
            <!-- <input type="button" name="Yes" value="Yes"> -->
            <!-- <input type="button" name="No" value="No"> -->
            <h4>Enter song title:</h4>
            <input type="text" name="songIdTextBox">
            <!-- <h4>Add this song?</h4> -->
            <!-- <input type="text" name="yesorno"> -->
          </form>
          <h3>Your song:</h3>
          <h4>{{name}}</h4>
          <h4>{{artist}}</h4>
          <h4>{{id}}</h4>
          <h4>{{good_songs}}</h4>


          <h3>Reccomended songs:</h3>
          <ul id="recommended">
            {% for item in rec_songs %}
            <input type="checkbox" name={{item}}>{{item}}
            <br>
          {% endfor %}
          <input type="button" name="submit" value="Submit">
          </ul>

          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </div>
      </div>

    </div>

    <!-- <script src="{{ url_for('static', filename='scripts/script.js') }}"></script> -->

      <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
      <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
      <!-- <script src="/firebase/7.2.2/firebase-app.js"></script> -->

      <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
      <!-- <script src="/firebase/7.2.2/firebase-analytics.js"></script> -->

      <!-- Add Firebase products that you want to use -->
      <!-- <script src="/firebase/7.2.2/firebase-auth.js"></script> -->
      <!-- <script src="/firebase/7.2.2/firebase-firestore.js"></script> -->
      <!-- <script src="/firebase/init.js"></script> -->

    <script type="text/javascript" src = '../static/scripts/script.js'></script>
  </body>
</html>
