<!doctype html>
<html>
<head>
  <title>Login</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/stylesheets/profile.css">
  <link rel="stylesheet" href="../static/stylesheets/style.css">

  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/profile.css') }}"> -->
  <!-- <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/header.css') }}"> -->

</head>
  <body>


    <div class="header">
        <button type="button" id="openSideBar">
          <i class="fa fa-bars"></i>
        </button>

      <div id='title'>
        Mixer
      </div>

      <button type="button" id="login">login</button>
    </div>


  </body>
</html>
